
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;

    --bg-clr: #0b0c10;
    --bg-clr2: #1F2833; 
    --bg-clr3: #C5C6C7; 
    --bg-clr4: #66FCF1; 
    --bg-clr5: #45A29E; 
}

body { 
    
    font-family: sans-serif;
}


/*Header*/

.App { 
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll; 
}

.over-page, .about-container, .projects-container, .contact-container{ 
    scroll-snap-align: start;
}

.home-button { 
    color: white;
    margin-left: 2rem;
    font-size: 2.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.home-button:hover { 
    transform:scale(1.20); 
    transition: 0.2s ease-out;
    color: var(--bg-clr4);
    cursor: pointer;
}

.header-container { 
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-clr);
    z-index: 2;
}

.header-menu { 
    display: flex;
    list-style: none;
}

.header-menu li { 
    margin: 20px;
    font-weight: 600;
}

.nav-item { 
    text-decoration: none;
    color: var(--bg-clr3);
}

.header-menu li:hover,
.mobile-menu li:hover { 
    transform: translateX(-5px);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.header-menu li a:hover,
.mobile-menu li a:hover  { 
    color: var(--bg-clr4);
}


.mobile-menu-close { 
    transform: translateY(-250px);
}

.mobiel-menu-open { 
    transform: translateY(40px); 
}

.mobile-menu { 
    
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-clr);
    width: 100%;
    left: 0;
    top: 80%;
    list-style: none;
    font-weight: 600;
    margin-top: 10px;
    font-size: 30px;
    padding: 20px;
    transition: 0.4s ease-in-out;
    z-index: 10;
    max-width: 1500px;
}

.mobile-menu li { 
    margin-top: 10px;
    margin-left: 10px;
}

.hamburger-button { 
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.hamburger-button:hover { 
    cursor: pointer;
}

/*containers */ 
.over-page, .projects-container, .contact-container, .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%; 
    
}

.over-page { 
    background: rgb(31,40,51);
    background: linear-gradient(125deg, rgba(31,40,51,1) 9%, rgba(102,252,241,0.9822303921568627) 12%, rgba(72,161,160,1) 17%, rgba(31,40,51,1) 36%);
}

.projects-container { 
    background: rgb(31,40,51);
    background: linear-gradient(10deg, rgba(31,40,51,1) 9%, rgba(102,252,241,0.9822303921568627) 12%, rgba(72,161,160,1) 17%, rgba(31,40,51,1) 36%);
}

.contact-container { 
    background: rgb(31,40,51);
    background: linear-gradient(310deg, rgba(31,40,51,1) 9%, rgba(102,252,241,0.9822303921568627) 12%, rgba(72,161,160,1) 17%, rgba(31,40,51,1) 36%);
}

.about-container { 
    background: rgb(31,40,51);
    background: linear-gradient(55deg, rgba(31,40,51,1) 9%, rgba(102,252,241,0.9822303921568627) 12%, rgba(72,161,160,1) 17%, rgba(31,40,51,1) 36%);
}

/* about-container */ 


.about-info { 
    text-align: center;
    margin-bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{ 
    font-size: 8rem;
    color: white;
    background: rgb(255,255,255);
    background: linear-gradient(276deg, rgba(255,255,255,1) 0%, rgba(54,124,123,1) 0%, rgba(101,249,238,1) 30%, rgba(102,252,241,0.9822303921568627) 38%, rgba(255,255,255,1) 47%);
    background-size: 200%;
    background-clip: border-box;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}

h1:hover { 
    background-position: -100%;
}

.about-picture { 
    top: 10%;
    right: 5%;
    width: 60%;
    max-width: 300px;
    clip-path: circle(50% at 50% 50%);
}

/* Skill slider */ 
.skill-slider {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem auto; 
    height: 200px;
}

.skill-img { 
    width: 50px;
    margin: 10px;
}

.skill-img:hover { 
    transform: rotate(360deg);
    transition: .5s ease-out;
}

/* over page */ 

.over-info { 
    max-width: 80%;
    text-align: center;
}

.over-info p { 
    color: white;
}

.socials-container { 
    display: flex;
    justify-content: center;
}

.socials-git, .socials-linkedin { 
    margin: 20px;
    color: rgb(22, 22, 22);
}

.socials-git:hover { 
    color: chocolate;
    cursor: pointer;
}

.socials-linkedin:hover { 
    color: steelblue;
    cursor: pointer;
}
