
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;

    --bg-clr: #0b0c10;
    --bg-clr2: #1F2833; 
    --bg-clr3: #C5C6C7; 
    --bg-clr4: #66FCF1; 
    --bg-clr5: #45A29E; 
}

body { 
    
    font-family: sans-serif;
}


/*Header*/

.App { 
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll; 
}

.over-page, .about-container, .projects-container, .contact-container{ 
    scroll-snap-align: start;
}

.home-button { 
    color: white;
    margin-left: 2rem;
    font-size: 2.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.home-button:hover { 
    transform:scale(1.20); 
    transition: 0.2s ease-out;
    color: var(--bg-clr4);
    cursor: pointer;
}

.header-container { 
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-clr);
    z-index: 2;
}

.header-menu { 
    display: flex;
    list-style: none;
}

.header-menu li { 
    margin: 20px;
    font-weight: 600;
}

.nav-item { 
    text-decoration: none;
    color: var(--bg-clr3);
}

.header-menu li:hover,
.mobile-menu li:hover { 
    transform: translateX(-5px);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.header-menu li a:hover,
.mobile-menu li a:hover  { 
    color: var(--bg-clr4);
}


.mobile-menu-close { 
    transform: translateY(-250px);
}

.mobiel-menu-open { 
    transform: translateY(40px); 
}

.mobile-menu { 
    
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-clr);
    width: 100%;
    left: 0;
    top: 80%;
    list-style: none;
    font-weight: 600;
    margin-top: 10px;
    font-size: 30px;
    padding: 20px;
    transition: 0.4s ease-in-out;
    z-index: 10;
    max-width: 1500px;
}

.mobile-menu li { 
    margin-top: 10px;
    margin-left: 10px;
}

.hamburger-button { 
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.hamburger-button:hover { 
    cursor: pointer;
}

/*containers */ 
.over-page, .projects-container, .contact-container, .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%; 
    
}

.over-page { 
    background: rgb(31,40,51);
    background: linear-gradient(125deg, rgba(31,40,51,1) 9%, rgba(102,252,241,0.9822303921568627) 12%, rgba(72,161,160,1) 17%, rgba(31,40,51,1) 36%);
}

.projects-container { 
    background: rgb(31,40,51);
    background: linear-gradient(10deg, rgba(31,40,51,1) 9%, rgba(102,252,241,0.9822303921568627) 12%, rgba(72,161,160,1) 17%, rgba(31,40,51,1) 36%);
}

.contact-container { 
    background: rgb(31,40,51);
    background: linear-gradient(310deg, rgba(31,40,51,1) 9%, rgba(102,252,241,0.9822303921568627) 12%, rgba(72,161,160,1) 17%, rgba(31,40,51,1) 36%);
}

.about-container { 
    background: rgb(31,40,51);
    background: linear-gradient(55deg, rgba(31,40,51,1) 9%, rgba(102,252,241,0.9822303921568627) 12%, rgba(72,161,160,1) 17%, rgba(31,40,51,1) 36%);
}

/* about-container */ 


.about-info { 
    text-align: center;
    margin-bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{ 
    font-size: 8rem;
    color: white;
    background: rgb(255,255,255);
    background: linear-gradient(276deg, rgba(255,255,255,1) 0%, rgba(54,124,123,1) 0%, rgba(101,249,238,1) 30%, rgba(102,252,241,0.9822303921568627) 38%, rgba(255,255,255,1) 47%);
    background-size: 200%;
    background-clip: border-box;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}

h1:hover { 
    background-position: -100%;
}

.about-picture { 
    top: 10%;
    right: 5%;
    width: 60%;
    max-width: 300px;
    clip-path: circle(50% at 50% 50%);
}

/* Skill slider */ 
.skill-slider {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem auto; 
    height: 200px;
}

.skill-img { 
    width: 50px;
    margin: 10px;
}


/* over page */ 

.over-info { 
    max-width: 80%;
    text-align: center;
}

.over-info p { 
    color: white;
}

.socials-container { 
    display: flex;
    justify-content: center;
}

.socials-git, .socials-linkedin { 
    margin: 20px;
    color: rgb(22, 22, 22);
}

.socials-git:hover { 
    color: chocolate;
    cursor: pointer;
}

.socials-linkedin:hover { 
    color: steelblue;
    cursor: pointer;
}

/* Projects cards */ 

.projects-container { 
    display: flex;
    flex-direction: row;
}

.card-wrapper { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 2000;
}

.project-card { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 20px 10px 15px rgba(31,40,51,0.6);
    background: rgb(0, 0, 0);
    background: linear-gradient(202deg, rgb(33, 47, 46) 0%, rgba(0,0,0,1) 55%, rgba(102,252,241,1) 88%, rgba(0,0,0,1) 100%);
    position: relative;
    cursor: grab;
}

.project-card h2 { 
    margin: 10px;
    left: 25%;
    top: 5px;
    color: white;
    text-align: center;
}

.project-image { 
    display: flex;
    width: 90%;
    height: 50%;
    overflow: hidden;
}

.project-image img { 
    max-width: 100%;
    clip-path: circle(45%);
    pointer-events: none;
}

.project-links { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 40%;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.project-button-container { 
    display: flex; 
}

.project-card a { 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50%;
    height: 3rem;
    margin: 2px;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    outline: none;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
}

.project-card a:hover { 
    transition: 0.5s ease-in-out;
    transform: scale(0.98);
    color: black;
    background-color: white;
}

.project { 
    opacity: 0; 
    transition: 1s ease-in-out;
}

.project.active { 
    opacity: 1;
    transition: 1s ease-in-out;
}

.arrow { 
    margin: 10rem;
}

.arrow:hover { 
    color: var(--bg-clr4);
    cursor: pointer;
    transition: .5s ease-in-out;
}

/* contactform */

.contact-form { 
    width: 500px;
    max-width: 500px;
}

.contact-form button { 
    width: 100%;
    height: 40px;
    background-color: black;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

.contact-form button:hover { 
    background-color: var(--bg-clr4);
    color: black; 
    cursor: pointer;
}

.contact-name-field, .contact-message-field, .contact-email-field { 
    display: flex;
    flex-direction: column;
}

.contact-form label { 
    font-size: 1.2rem;
    padding: 5px;
    color: white;
    font-weight: 600;
}

.contact-form input { 
    padding: 15px;
    margin-bottom: 10px;
}

.contact-form textarea { 
    padding: 15px;
    height: 150px;
    margin-bottom: 10px;
    max-width:100%;
    border-radius: 20px;
}

input:focus, textarea:focus { 
    border: 2px solid var(--bg-clr4);
    outline: none;
}

.failed, .succes { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 40px;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-bottom: 10px;
}

.failed { 
    background-color: rgb(195, 86, 86);
    color: black; 
}
.succes { 
    background-color: rgb(92, 165, 92); 
    color: white; 
}